<div class="container-fluid headr">
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<h1>Nova requisição de carteirinha</h1>

	<%= render 'form', requisicao: @requisicao %>

	<%= link_to 'Voltar', requisicaos_path ,class: "btn btn-primary"%>
</div>
</div>

