
<div class="container-fluid headr">
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<%= link_to ' ', pessoas_path ,class: "btn btn-primary glyphicon glyphicon-chevron-left"%>
	<span class="h3">Cadastrando Pessoa</span>
	<br>
	<br>

	<%= render 'form', pessoa: @pessoa %>

	
</div>
</div>

