<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= csrf_meta_tags %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="container">
	<div class="row">
	<p>
		<a href="../pessoas" class="btn btn-primary bt-lg">Pessoas</a>
	</p>
		
	</div>
	<div class="row">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active">Página inicial</li>
			<li role="presentation">Teste</li>
		</ul>
	</div>
</div>

</body>
</html>