<div class="container-fluid">
	<div class="row">
	<p></p>
	
	<div class="row" id="dashquadrados">

		<div class="col-xs-3 col-lg-3 col-md-3">
		    <a href="../pessoas">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3 text-right">
		                        <h1 class="glyphicon glyphicon-user"></h1>
		                    </div>
		                    <div class="col-xs-9 text-left">
		                        	<div id="dashboxtittle"><h3>Pessoas</h3></div>
		                    </div>
		                </div>
		            </div>
		                <div class="panel-footer">
		                    <span class="pull-left">Listar, cadastrar, editar</span>
		                    <div class="clearfix"></div>
		                </div>
		        </div>
	        </a>
	    </div>

		<div class="col-xs-3 col-lg-3 col-md-3">
		    <a href="../requisicaos">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3 text-right">
		                        <h1 class="glyphicon glyphicon-user"></h1>
		                    </div>
		                    <div class="col-xs-9 text-left">
		                        	<div id="dashboxtittle"><h3>Requisições</h3></div>
		                    </div>
		                </div>
		            </div>
		                <div class="panel-footer">
		                    <span class="pull-left">Criar nova, atender</span>
		                    <div class="clearfix"></div>
		                </div>
		        </div>
	        </a>
	    </div>



		<div class="col-xs-3 col-lg-3 col-md-3">
		    <a href="#">
		        <div class="panel panel-primary">
		            <div class="panel-heading">
		                <div class="row">
		                    <div class="col-xs-3 text-right">
		                        <h1 class="glyphicon glyphicon-user"></h1>
		                    </div>
		                    <div class="col-xs-9 text-left">
		                        	<div id="dashboxtittle"><h3>Impressão</h3></div>
		                    </div>
		                </div>
		            </div>
		                <div class="panel-footer">
		                    <span class="pull-left">Imprimir carteirinhas</span>
		                    <div class="clearfix"></div>
		                </div>
		        </div>
	        </a>
	    </div>
	</div>

	<div class="row" id="dashcorpo">
		<div class="colum" id="tabelarequisicoes" class="col-xs-9 col-md-3 col-lg-3">
			<div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Requisições Pendentes</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Num Req.</th>
                                                <th>Data</th>
                                                <th>Tipo</th>
                                                <th>Pessoa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1234</td>
                                                <td>01/01/2018</td>
                                                <td>Idoso</td>
                                                <td>Maria</td>
                                            </tr>
                                            <tr>
                                            	<td>4321</td>
                                                <td>01/01/2018</td>
                                                <td>Deficiente</td>
                                                <td>José da Silva Pereira Gonçalves </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="../requisicaos">Ver todas as requisições <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
		</div>
	</div>

	</div>
	<div class="row">
		<ul class="nav nav-pills nav-stacked">
			
		</ul>
	</div>
</div>
