


<div class="row" id="dashquadrados">

	<div class="col-xs-12 col-lg-12 col-md-12">
		<ul class="lista-dash">
			<% if returnPes==nil %>
			<li class="danger">Falta Adicionar Dados Pessoais</li>
			<% end %>
			<% if returnEnd==nil %>
			<li class="danger">Falta Adicionar Dados Do Endereço</li>
			<% end %>
			<% if returnDoc==nil %>
			<li class="danger">Falta Adicionar Documentos</li>
			<% end %>
			<% if returnReq==nil %>
			<li class="danger">Falta Adicionar Requisição</li>
			<% end %>
			<% if (returnCar!=nil) && (returnCar()=="Em Analise") %>
			<li class="info">A carteirinha foi requisitada, aguarde a resposta!</li>
			<% elsif (returnPes!=nil) && (returnEnd!=nil) && (returnDoc!=nil) && (returnReq!=nil) && (returnCar==nil) %>
			<li class="info">A carteirinha está disponível para ser requisitada</li>
			<% elsif resCart()=="Rejeitada"%>
			<li class="info">A carteirinha está <strong><%= resCart() %></strong>, <br><br>Motivo: <strong><%= rejMot() %></strong></li>
			<% else %>
			<li class="info">A carteirinha está <strong><%= resCart() %></strong></li>
			<% end %>
		</ul>
  	</div>

</div>
