

<div class="col-sm-12">
	<% if returnPes==nil %>
	<div class="alert alert-danger text-center">
		Falta Adicionar Dados Pessoais
	</div>
	<% end %>
	<% if returnEnd==nil %>
	<div class="alert alert-danger text-center">
		Falta Adicionar Dados Do Endereço
	</div>
	<% end %>
	<% if returnDoc==nil %>
	<div class="alert alert-danger text-center">
		Falta Adicionar Documentos
	</div>
	<% end %>
	<% if returnReq==nil %>
	<div class="alert alert-danger text-center">
		Falta Adicionar Requisição
	</div>
	<% end %>
	<% if (returnCar!=nil) && (resCart()=="Em Analise") %>
	<div class="alert alert-info text-center">
		A carteirinha foi requisitada, aguarde a resposta!
	</div>
	<% elsif returnCar()!= nil && resCart()=="Aprovada"%>
	<div class="alert alert-info text-center">
		A carteirinha está <strong><%= resCart() %>
	</div>
	<% elsif (returnPes!=nil) && (returnEnd!=nil) && (returnDoc!=nil) && (returnReq!=nil) && (returnCar!=nil) %>
	<div class="alert alert-warning text-center">
		A carteirinha está <strong><%= resCart() %></strong>, <br><br>Motivo: <strong><%= rejMot() %>
	</div>
	<% end %>
</div>
