
<div class="col-sm-12">
	<div class="alert alert-info text-center">
		Carteirinhas aguardando aprovação: <%= aguardCarteirinhas() %>
	</div>
	<div class="alert alert-success text-center">
		Carteirinhas Aprovadas: <%= aprovCarteirinhas() %>
	</div>
	<div class="alert alert-warning text-center">
		Carteirinhas Rejeitadas: <%= reprovCarteirinhas() %>
	</div>
	<div class="alert alert-secondary text-center">
		Carteirinhas Vencidas: <%= vencidasCarteirinhas() %>
	</div>
</div>
