<div class="row" id="dashquadrados">

	<div class="col-xs-12 col-lg-12 col-md-12">
		<ul class="lista-dash">
			<li class="danger">Carteirinhas aguardando aprovação: <%= aguardCarteirinhas() %></li>
		</ul>
		<ul class="lista-dash">
			<li class="danger">Carteirinhas aprovadas: <%= aprovCarteirinhas() %></li>
		</ul>
		<ul class="lista-dash">
			<li class="danger">Carteirinhas Reprovadas: <%= reprovCarteirinhas() %></li>
		</ul>
		<ul class="lista-dash">
			<li class="danger">Carteirinhas Vencidas: <%= vencidasCarteirinhas() %></li>
		</ul>
  	</div>
</div>
