<%
  redirectTypeOfUser()
  %>



<div class="row" id="dashquadrados">

	<div class="col-xs-12 col-lg-12 col-md-12">
		<ul class="lista-dash">
			<% if returnPes==nil %>
			<li class="danger">Falta Adicionar Dados Pessoais</li>
			<% end %>
			<% if returnDoc==nil %>
			<li class="danger">Falta Adicionar Documentos</li>
			<% end %>
			<% if returnEnd==nil %>
			<li class="danger">Falta Adicionar Dados Do Endereço</li>
			<% end %>
			<% if returnReq==nil %>
			<li class="danger">Falta Adicionar Requerimento</li>
			<% end %>
		</ul>
  	</div>
</div>