/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body
{
	/*font-family verdana, arial, helvetica, sans-serif*/
}


body.index
{
	background-color:  #339cff !important;
}
.tela-login
{
	background-color: #cedcdf;
	padding: 25px;
	border-radius: 10px;
	border-color: #000000;
	border-width: 0.2px;
	border-style: solid;
	margin-top: 5%;
}
.tela-login button
{
  margin-top: 10px;
}
.tela-login input
{
  margin-top:3px;
}
.tabela td,
.tabela th
{
	padding-left:10px;
}
.tabela th
{
	background-color: #339cff;
	color: #FFFFFF;
	font-size:120%;
	text-transform: uppercase;
}
.headr
{
	padding-top:15px;
}
.tabela tr:nth-child(2n)
{
	background-color: #b3daff;
}
.field_with_errors
{
	ẁidth:100% !important;
	min-width: 50%;
	max-width: 100%;
	color: #FFFFFF;
	padding: 5px;
}
.field_with_errors input
{
	width: 100%;
	color: #000000;
}
.alerta
{
	padding-top:5px;
	padding-left:15px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-style: dashed;
	border-width: 1px;
}
.alerta *
{
	font-size:90% !important;
}
.menu_lateral
{
	width: 100%;
	margin: 0px;
	position: relative;
	min-height: 300px;
}
#lateral
{
	background-color: #318189;
}
.menu_lateral li,
.menu_lateral h5
{
	width:100%;
	position: relative;
	word-wrap: break-word;
	padding-left: 15px;
}
.menu_lateral li:hover
{
	background-color: DimGray;
	word-break: ;
}
.menu_lateral a:hover
{
	text-decoration: none;
}
.show-inf strong
{
	text-transform: uppercase;
}
a li,
a{
	color: #000000;
}
a li:hover,
a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: transparent;
}
#lateral
{
	margin: 0px;
	padding: 0px;
	background-color: Silver;
}
#lateral .title
{
	padding-top: 5px;
}
@media screen and (max-width: 767px) 
{
	.menu_lateral
	{
		min-height: 0px !important;;
	}
}
#titulo
{
	background: linear-gradient(Gainsboro,DarkGray);
}
#lateral .title strong
{
	font-size:150%;
}
#lateral .title:hover
{
	background-color: transparent;
}
#lateral .child
{
	text-indent: 15px;
}