/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body
{
	background-color: #ffff00;
}

body.index
{
	background-color:  #339cff !important;
}
.tela-login
{
	background-color: #cedcdf;
	padding: 25px;
	border-radius: 10px;
	border-color: #000000;
	border-width: 0.2px;
	border-style: solid;
	margin-top: 5%;
}
.tela-login button
{
  margin-top: 10px;
}
.tela-login input
{
  margin-top:3px;
}
.tabela td
{
	padding-right:10px;
}
.tabela th
{
	background-color: #339cff;
	color: #FFFFFF;
	font-size:120%;
}
.headr
{
	padding-top:15px;
}
.tabela tr:nth-child(2n)
{
	background-color: #b3daff;
}
.field_with_errors
{
	ẁidth:100% !important;
	min-width: 50%;
	max-width: 100%;
	color: #FFFFFF;
	padding: 5px;
}
.field_with_errors input
{
	width: 100%;
	color: #000000;
}
.alerta
{
	padding-top:5px;
	padding-left:15px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-style: dashed;
	border-width: 1px;
}
.alerta *
{
	font-size:90% !important;
}
